<div class="container">
  <h1>Add an Idea</h1>

  <h1>Ideas</h1>

  <table>
    <tbody>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
      </tr>
      <% @ideas.each do |idea| %>
      <tr>
        <td> <%= idea.title %> </td>
        <td> <%= truncate(idea.body, length: 100, :separator => ' ')%></td>
        <td> <%= idea.quality_word %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
