<div class="container">

<div class="col-md-6 forms text-center">
  <h1>New Idea</h1>
  <form class="save-form form-inline">
    <div class="form-group">
    <%= text_field_tag :title, nil, placeholder: "Title", id: "title", class: "form-control"%>
    <%= text_field_tag :body, nil, placeholder: "Description", id: "description", class: "form-control" %>
    <button type="button" name="save-new-idea" id="save-btn" class="btn btn-success">Save</button>
  </div>
  </form>
</div>

<div class="col-md-6 forms text-center">
  <h1 >Search Ideas</h1>
  <div class="idea-search form-inline">
    <%= text_field :search, :filter, placeholder: "Search", class: "form-control" %>
    <button type="button" name="button-search" class="btn btn-success">Search</button>
  </div>
</div>

<br>
<hr>

<div class="col-md-12">

  <h1>Ideas</h1>

  <table  class="table" id="ideas-table">
      <tr id="table-headings">
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
        <th>Upvote</th>
        <th>Downvote</th>
        <th>Delete</th>
      </tr>
      <tbody>
    </tbody>
  </table>
</div>
</div>
