#nav-bar-custom {
  text-align: center;
  font-size: 40px;
  background-color: hsl(120, 39%, 54%);
  color: white;
  border-color: #69b869;
  border-radius: 0px;
}


.forms {
  margin-bottom: 20px;
}

.save-btn {
  margin: 2px;
}

a {
  color: black;
}

a:hover {
  color: hsl(120, 39%, 54%);
}

.body-header {
  color: #767676;
}
